.header {
  box-sizing: inherit;
  display: flex;
  align-items: center;
  min-height: 150px;
  padding: 20px;
}

@media (max-width: 680px) {
  .header {
    flex-wrap: wrap;
  }
}

.header-title {
  max-width: 150px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  background-color: aqua;
  word-wrap: break-word;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 680px) {
  .header-title {
    max-width: unset;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
  }
}